# Ignorar TODO lo pesado
node_modules/
android/app/build/
android/.gradle/
android/build/
ios/build/
.expo/
.gradle/
.git/
dist/
bin/

# Extensiones de archivos pesados
*.zip
*.tar.gz
*.mp4
*.exe
*.apk
*.aab
*.jks
*.p8
*.p12